In [2]:
#definindo o caminho onde o arquivo esta para variavel end
end = 'C:\Pyhton\Yellow_Taxi_Trip_Data.csv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
#criando DataFrame 1
data = pd.read_csv(end,sep=',', encoding='latin-1')
data2 = data

In [6]:
#exibindo o resultado do DataFrame
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,06/13/2018 10:21:21 AM,06/13/2018 10:39:36 AM,1,2.20,1,N,237,230,1,13.0,0.0,0.5,1.50,0.0,0.3,15.30
1,2,06/13/2018 10:42:40 AM,06/13/2018 10:47:18 AM,1,0.49,1,N,100,230,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2,2,06/13/2018 10:54:04 AM,06/13/2018 11:04:37 AM,1,1.48,1,N,48,162,1,8.5,0.0,0.5,1.50,0.0,0.3,10.80
3,2,06/13/2018 10:02:47 AM,06/13/2018 10:27:58 AM,1,2.29,1,N,164,237,1,15.5,0.0,0.5,4.08,0.0,0.3,20.38
4,2,06/13/2018 10:29:11 AM,06/13/2018 10:45:29 AM,1,0.94,1,N,43,161,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80

In [7]:
#mostra total de linhas e colunas carregados no DataFrame
data.shape

(1515294, 17)

In [8]:
#Exercicio 1-- distância média percorrida em viagens com um máximo de 2 passageiros;

distancia_Media = data[['passenger_count','trip_distance']].groupby(['passenger_count'],as_index= False).mean()

#exibe até no maximo registros com 2 passageiros
distancia_Media.head(3)

   passenger_count  trip_distance
0                0       2.948148
1                1       3.009682
2                2       3.245680

In [9]:
#exibindo distancia media para no maximo 1 passageiro
distancia_Media.query("passenger_count==1").head()

   passenger_count  trip_distance
1                1       3.009682

In [10]:
#exibindo distancia media para no maximo 2 passageiros
distancia_Media.query("passenger_count==2").head()

   passenger_count  trip_distance
2                2        3.24568

In [11]:
#Exercicio 2-- tempo médio de viagem aos sábados e domingos;
import datetime as dt

In [13]:
#utilizando o  DataFrame 2
print(data2.head())

   VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
0         2  06/13/2018 10:21:21 AM  06/13/2018 10:39:36 AM                1
1         2  06/13/2018 10:42:40 AM  06/13/2018 10:47:18 AM                1
2         2  06/13/2018 10:54:04 AM  06/13/2018 11:04:37 AM                1
3         2  06/13/2018 10:02:47 AM  06/13/2018 10:27:58 AM                1
4         2  06/13/2018 10:29:11 AM  06/13/2018 10:45:29 AM                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.20           1                  N           237           230
1           0.49           1                  N           100           230
2           1.48           1                  N            48           162
3           2.29           1                  N           164           237
4           0.94           1                  N            43           161

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         13.0    0.0      0.5        1.50           0.0
1             2          5.0    0.0      0.5        0.00           0.0
2             1          8.5    0.0      0.5        1.50           0.0
3             1         15.5    0.0      0.5        4.08           0.0
4             2         11.0    0.0      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         15.30
1                    0.3          5.80
2                    0.3         10.80
3                    0.3         20.38
4                    0.3         11.80

In [14]:
#Qtde de linhas e colunas do DataFrame
data2.shape

(1515294, 17)

In [ ]:
data2["tpep_pickup_datetime"] = pd.to_datetime(data2["tpep_pickup_datetime"])
data2["tpep_dropoff_datetime"] = pd.to_datetime(data2["tpep_dropoff_datetime"])

In [ ]:
data2['tpep_pickup_datetime'].nunique(), data2['tpep_dropoff_datetime'].nunique()

In [ ]:
data2["weekday"] = data2["tpep_pickup_datetime"].dt.day_name()
data2["weekday"] = data2["tpep_dropoff_datetime"].dt.day_name()

In [ ]:
data2.head(15)

In [ ]:
data2[data2["weekday"] == "Saturday"]

In [ ]:
data2[data2["weekday"] == "Sunday"]

In [ ]:
#exibindo dias encontrados 
data2["weekday"].value_counts()

In [ ]:
from pandas import Timestamp

In [ ]:
def timestamps(t):
  return pd.Timestamp(t)
#criando variaveis Data Inicial e Data Final"
data2["data_Ini"] = data2.tpep_pickup_datetime.map(timestamps)
data2["data_Fim"] = data2.tpep_dropoff_datetime.map(timestamps)

In [ ]:
#inserindo coluna "tempo_duracao_viagem"
data2["tempo_duracao_viagem"] = (data2.data_Fim - data2.data_Ini)

In [ ]:
#inserindo coluna "tempo_medio"
data2["tempo_medio"] = (data2.data_Fim - data2.data_Ini)/2

In [ ]:
data2

In [ ]:
#filtrando os dias - sabado e domingo
resultado = data2[data2["weekday"].isin(["Saturday", "Sunday"])]
len(resultado)

In [ ]:
#exibindo 200 linhas sobre o calculo executado
resultado[:200]

In [ ]:
#exibindo tudo encontrado referente a sabado e domingo sobre o calculo executado
resultado