In [29]:
#definindo o caminho onde o arquivo esta
end = 'C:\Pyhton\Yellow_Taxi_Trip_Data.csv'

In [30]:
import pandas as pd
import numpy as np

In [31]:
#criando DataFrame 1
data = pd.read_csv(end,sep=',', encoding='latin-1')

In [32]:
#exibindo o resultado do DataFrame
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,06/13/2018 10:21:21 AM,06/13/2018 10:39:36 AM,1,2.20,1,N,237,230,1,13.0,0.0,0.5,1.50,0.0,0.3,15.30
1,2,06/13/2018 10:42:40 AM,06/13/2018 10:47:18 AM,1,0.49,1,N,100,230,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2,2,06/13/2018 10:54:04 AM,06/13/2018 11:04:37 AM,1,1.48,1,N,48,162,1,8.5,0.0,0.5,1.50,0.0,0.3,10.80
3,2,06/13/2018 10:02:47 AM,06/13/2018 10:27:58 AM,1,2.29,1,N,164,237,1,15.5,0.0,0.5,4.08,0.0,0.3,20.38
4,2,06/13/2018 10:29:11 AM,06/13/2018 10:45:29 AM,1,0.94,1,N,43,161,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80

In [33]:
#mostra total de linhas e colunas carregados no DataFrame
data.shape

(1515294, 17)

In [34]:
#Exercicio 1-- distância média percorrida em viagens com um máximo de 2 passageiros;

distancia_Media = data[['passenger_count','trip_distance']].groupby(['passenger_count'],as_index= False).mean()

#exibe até no maximo registros com 2 passageiros
distancia_Media.head(3)

   passenger_count  trip_distance
0                0       2.948148
1                1       3.009682
2                2       3.245680

In [35]:
#exibindo distancia media para no maximo 1 passageiro
distancia_Media.query("passenger_count==1").head()

   passenger_count  trip_distance
1                1       3.009682

In [36]:
#exibindo distancia media para no maximo 2 passageiros
distancia_Media.query("passenger_count==2").head()

   passenger_count  trip_distance
2                2        3.24568

In [10]:
#Exercicio 2-- tempo médio de viagem aos sábados e domingos;
import pandas as pd
import datetime as dt

In [11]:
#importando o arquivo novamente para um novo DataFrame 2
data2 = pd.read_csv(end,sep=',', encoding='latin-1')
print(data2.head())

   VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
0         2  06/13/2018 10:21:21 AM  06/13/2018 10:39:36 AM                1
1         2  06/13/2018 10:42:40 AM  06/13/2018 10:47:18 AM                1
2         2  06/13/2018 10:54:04 AM  06/13/2018 11:04:37 AM                1
3         2  06/13/2018 10:02:47 AM  06/13/2018 10:27:58 AM                1
4         2  06/13/2018 10:29:11 AM  06/13/2018 10:45:29 AM                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.20           1                  N           237           230
1           0.49           1                  N           100           230
2           1.48           1                  N            48           162
3           2.29           1                  N           164           237
4           0.94           1                  N            43           161

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         13.0    0.0      0.5        1.50           0.0
1             2          5.0    0.0      0.5        0.00           0.0
2             1          8.5    0.0      0.5        1.50           0.0
3             1         15.5    0.0      0.5        4.08           0.0
4             2         11.0    0.0      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         15.30
1                    0.3          5.80
2                    0.3         10.80
3                    0.3         20.38
4                    0.3         11.80

In [12]:
#Qtde de linhas e colunas do DataFrame
data2.shape

(1515294, 17)

In [13]:
data2["tpep_pickup_datetime"] = pd.to_datetime(data2["tpep_pickup_datetime"])
data2["tpep_dropoff_datetime"] = pd.to_datetime(data2["tpep_dropoff_datetime"])

In [14]:
data2['tpep_pickup_datetime'].nunique(), data2['tpep_dropoff_datetime'].nunique()

(408105, 409795)

In [15]:
data2["weekday"] = data2["tpep_pickup_datetime"].dt.day_name()
data2["weekday"] = data2["tpep_dropoff_datetime"].dt.day_name()

In [16]:
data2.head(15)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday
0,2,2018-06-13 10:21:21,2018-06-13 10:39:36,1,2.20,1,N,237,230,1,13.0,0.0,0.5,1.50,0.00,0.3,15.30,Wednesday
1,2,2018-06-13 10:42:40,2018-06-13 10:47:18,1,0.49,1,N,100,230,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80,Wednesday
2,2,2018-06-13 10:54:04,2018-06-13 11:04:37,1,1.48,1,N,48,162,1,8.5,0.0,0.5,1.50,0.00,0.3,10.80,Wednesday
3,2,2018-06-13 10:02:47,2018-06-13 10:27:58,1,2.29,1,N,164,237,1,15.5,0.0,0.5,4.08,0.00,0.3,20.38,Wednesday
4,2,2018-06-13 10:29:11,2018-06-13 10:45:29,1,0.94,1,N,43,161,2,11.0,0.0,0.5,0.00,0.00,0.3,11.80,Wednesday
5,2,2018-06-13 10:46:17,2018-06-13 11:08:04,1,3.40,1,N,161,144,1,15.5,0.0,0.5,4.08,0.00,0.3,20.38,Wednesday
6,1,2018-06-13 10:01:41,2018-06-13 10:18:28,1,1.60,1,N,143,237,1,11.5,0.0,0.5,1.50,0.00,0.3,13.80,Wednesday
7,1,2018-06-13 10:37:01,2018-06-13 10:47:37,1,0.70,1,N,262,236,1,8.0,0.0,0.5,1.00,0.00,0.3,9.80,Wednesday
8,1,2018-06-13 10:48:54,2018-06-13 10:55:55,1,0.70,1,N,43,43,1,6.0,0.0,0.5,1.70,0.00,0.3,8.50,Wednesday
9,1,2018-06-13 10:42:23,2018-06-13 11:12:08,1,10.00,1,N,138,161,1,31.5,0.0,0.5,7.60,5.76,0.3,45.66,Wednesday
10,2,2018-06-13 10:24:46,2018-06-13 10:44:41,1,4.41,1,N,100,13,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80,Wednesday
11,2,2018-06-13 10:14:36,2018-06-13 10:32:17,2,1.58,1,N,161,140,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30,Wednesday
12,2,2018-06-13 10:36:15,2018-06-13 10:41:04,2,0.79,1,N,140,141,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80,Wednesday
13,2,2018-06-13 10:48:37,2018-06-13 10:52:42,2,0.40,1,N,237,237,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30,Wednesday
14,1,2018-06-13 10:42:43,2018-06-13 11:03:43,4,1.80,1,N,162,164,1,13.5,0.0,0.5,3.55,0.00,0.3,17.85,Wednesday

In [17]:
data2[data2["weekday"] == "Saturday"]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday
111995,2,2019-01-12 00:32:19,2019-01-12 08:14:24,1,11.62,1,N,236,200,1,37.5,1.0,0.5,10.48,2.64,0.3,52.42,Saturday
131060,2,2019-02-02 08:51:51,2019-02-02 08:58:07,1,1.62,1,N,246,143,1,7.0,1.0,0.5,1.00,0.00,0.3,9.80,Saturday
150579,2,2019-02-23 16:13:35,2019-02-23 16:19:34,1,0.86,1,N,48,246,1,6.0,1.0,0.5,0.00,0.00,0.3,7.80,Saturday
150580,2,2019-02-23 16:27:08,2019-02-23 16:31:56,1,0.78,1,N,48,68,1,5.5,1.0,0.5,1.46,0.00,0.3,8.76,Saturday
150581,2,2019-02-23 16:38:23,2019-02-23 16:46:14,1,0.91,1,N,100,234,2,6.5,1.0,0.5,0.00,0.00,0.3,8.30,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134855,2,2018-06-16 20:40:37,2018-06-16 20:54:00,6,7.35,1,N,79,74,1,21.5,0.5,0.5,2.00,0.00,0.3,24.80,Saturday
1134856,2,2018-06-16 21:02:43,2018-06-16 21:15:14,6,2.90,1,N,48,263,1,12.0,0.5,0.5,2.66,0.00,0.3,15.96,Saturday
1136110,2,2018-06-16 11:49:01,2018-06-16 12:03:35,1,3.32,1,N,79,97,1,14.0,0.5,0.5,3.82,0.00,0.3,19.12,Saturday
1136111,2,2018-06-16 12:01:03,2018-06-16 12:18:18,1,5.56,1,N,79,79,2,18.5,0.5,0.5,0.00,0.00,0.3,19.80,Saturday
1136539,2,2018-06-16 05:47:11,2018-06-16 06:09:10,2,10.09,1,N,48,138,2,30.0,0.5,0.5,0.00,5.76,0.3,37.06,Saturday

In [18]:
data2[data2["weekday"] == "Sunday"]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday
150583,2,2019-03-17 01:04:30,2019-03-17 01:10:43,1,1.23,1,N,231,113,1,6.5,1.0,0.5,1.24,0.00,0.3,9.54,Sunday
168770,2,2019-03-17 01:13:50,2019-03-17 01:19:25,1,1.22,1,N,113,249,1,6.0,0.5,0.5,1.46,0.00,0.3,8.76,Sunday
168771,2,2019-03-17 01:26:07,2019-03-17 01:30:28,1,0.70,1,N,113,234,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,Sunday
168772,2,2019-03-17 01:38:09,2019-03-17 02:00:03,1,4.24,1,N,170,238,1,17.5,0.5,0.5,4.70,0.00,0.3,23.50,Sunday
187308,2,2019-04-07 09:14:15,2019-04-07 09:24:03,1,1.41,1,N,142,50,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355163,2,2018-06-17 18:36:56,2018-06-17 18:38:20,6,0.39,1,N,230,161,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80,Sunday
1355164,2,2018-06-17 18:41:40,2018-06-17 18:57:56,6,7.00,1,N,161,198,2,21.5,0.5,0.5,0.00,5.76,0.3,28.56,Sunday
1356718,2,2018-06-17 17:02:44,2018-06-17 17:07:47,1,1.37,1,N,264,264,1,6.0,0.5,0.5,2.19,0.00,0.3,9.49,Sunday
1357610,2,2018-06-17 18:46:29,2018-06-17 18:50:13,6,0.59,1,N,148,4,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80,Sunday
1359186,2,2018-06-17 18:44:45,2018-06-17 19:13:02,6,18.30,3,N,249,1,1,67.5,0.5,0.0,15.76,10.50,0.3,94.56,Sunday

In [19]:
#exibindo dias encontrados 
data2["weekday"].value_counts()

Thursday     314851
Friday       282479
Saturday     275903
Sunday       249320
Wednesday    224663
Monday       167745
Tuesday         333
Name: weekday, dtype: int64

In [20]:
from pandas import Timestamp

In [21]:
def timestamps(t):
  return pd.Timestamp(t)
#criando variaveis Data Inicial e Data Final"
data2["data_Ini"] = data2.tpep_pickup_datetime.map(timestamps)
data2["data_Fim"] = data2.tpep_dropoff_datetime.map(timestamps)

In [22]:
#inserindo coluna "tempo_duracao_viagem"
data2["tempo_duracao_viagem"] = (data2.data_Fim - data2.data_Ini)

In [23]:
#inserindo coluna "tempo_medio"
data2["tempo_medio"] = (data2.data_Fim - data2.data_Ini)/2

In [24]:
data2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday,data_Ini,data_Fim,tempo_duracao_viagem,tempo_medio
0,2,2018-06-13 10:21:21,2018-06-13 10:39:36,1,2.20,1,N,237,230,1,...,0.5,1.50,0.0,0.3,15.30,Wednesday,2018-06-13 10:21:21,2018-06-13 10:39:36,00:18:15,00:09:07.500000
1,2,2018-06-13 10:42:40,2018-06-13 10:47:18,1,0.49,1,N,100,230,2,...,0.5,0.00,0.0,0.3,5.80,Wednesday,2018-06-13 10:42:40,2018-06-13 10:47:18,00:04:38,00:02:19
2,2,2018-06-13 10:54:04,2018-06-13 11:04:37,1,1.48,1,N,48,162,1,...,0.5,1.50,0.0,0.3,10.80,Wednesday,2018-06-13 10:54:04,2018-06-13 11:04:37,00:10:33,00:05:16.500000
3,2,2018-06-13 10:02:47,2018-06-13 10:27:58,1,2.29,1,N,164,237,1,...,0.5,4.08,0.0,0.3,20.38,Wednesday,2018-06-13 10:02:47,2018-06-13 10:27:58,00:25:11,00:12:35.500000
4,2,2018-06-13 10:29:11,2018-06-13 10:45:29,1,0.94,1,N,43,161,2,...,0.5,0.00,0.0,0.3,11.80,Wednesday,2018-06-13 10:29:11,2018-06-13 10:45:29,00:16:18,00:08:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515289,2,2018-06-18 16:05:44,2018-06-18 16:16:29,1,1.89,1,N,142,263,1,...,0.5,2.16,0.0,0.3,12.96,Monday,2018-06-18 16:05:44,2018-06-18 16:16:29,00:10:45,00:05:22.500000
1515290,2,2018-06-18 16:18:03,2018-06-18 16:24:42,1,1.02,1,N,263,237,1,...,0.5,1.66,0.0,0.3,9.96,Monday,2018-06-18 16:18:03,2018-06-18 16:24:42,00:06:39,00:03:19.500000
1515291,2,2018-06-18 16:17:33,2018-06-18 16:27:48,6,0.59,1,N,48,48,1,...,0.5,1.86,0.0,0.3,11.16,Monday,2018-06-18 16:17:33,2018-06-18 16:27:48,00:10:15,00:05:07.500000
1515292,2,2018-06-18 16:30:30,2018-06-18 16:32:45,6,0.15,1,N,48,230,2,...,0.5,0.00,0.0,0.3,5.30,Monday,2018-06-18 16:30:30,2018-06-18 16:32:45,00:02:15,00:01:07.500000
1515293,2,2018-06-18 16:37:22,2018-06-18 16:42:37,6,0.96,1,N,142,239,2,...,0.5,0.00,0.0,0.3,7.80,Monday,2018-06-18 16:37:22,2018-06-18 16:42:37,00:05:15,00:02:37.500000

In [25]:
#filtrando os dias - sabado e domingo
resultado = data2[data2["weekday"].isin(["Saturday", "Sunday"])]
len(resultado)

525223

In [26]:
#exibindo 200 linhas sobre o calculo executado
resultado[:200]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday,data_Ini,data_Fim,tempo_duracao_viagem,tempo_medio
111995,2,2019-01-12 00:32:19,2019-01-12 08:14:24,1,11.62,1,N,236,200,1,...,0.5,10.48,2.64,0.3,52.42,Saturday,2019-01-12 00:32:19,2019-01-12 08:14:24,07:42:05,03:51:02.500000
131060,2,2019-02-02 08:51:51,2019-02-02 08:58:07,1,1.62,1,N,246,143,1,...,0.5,1.00,0.00,0.3,9.80,Saturday,2019-02-02 08:51:51,2019-02-02 08:58:07,00:06:16,00:03:08
150579,2,2019-02-23 16:13:35,2019-02-23 16:19:34,1,0.86,1,N,48,246,1,...,0.5,0.00,0.00,0.3,7.80,Saturday,2019-02-23 16:13:35,2019-02-23 16:19:34,00:05:59,00:02:59.500000
150580,2,2019-02-23 16:27:08,2019-02-23 16:31:56,1,0.78,1,N,48,68,1,...,0.5,1.46,0.00,0.3,8.76,Saturday,2019-02-23 16:27:08,2019-02-23 16:31:56,00:04:48,00:02:24
150581,2,2019-02-23 16:38:23,2019-02-23 16:46:14,1,0.91,1,N,100,234,2,...,0.5,0.00,0.00,0.3,8.30,Saturday,2019-02-23 16:38:23,2019-02-23 16:46:14,00:07:51,00:03:55.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634600,2,2018-06-15 11:32:31,2018-06-16 00:00:00,1,1.41,1,N,164,230,1,...,0.5,2.26,0.00,0.3,13.56,Saturday,2018-06-15 11:32:31,2018-06-16 00:00:00,12:27:29,06:13:44.500000
636057,2,2018-06-15 11:03:26,2018-06-16 10:59:34,2,0.94,1,N,90,107,1,...,0.5,1.47,0.00,0.3,11.27,Saturday,2018-06-15 11:03:26,2018-06-16 10:59:34,23:56:08,11:58:04
636388,2,2018-06-15 11:01:10,2018-06-16 10:59:59,1,1.84,1,N,24,143,1,...,0.5,2.82,0.00,0.3,14.12,Saturday,2018-06-15 11:01:10,2018-06-16 10:59:59,23:58:49,11:59:24.500000
637628,2,2018-06-15 04:06:14,2018-06-16 03:51:37,2,9.59,1,N,125,244,1,...,0.5,7.46,0.00,0.3,44.76,Saturday,2018-06-15 04:06:14,2018-06-16 03:51:37,23:45:23,11:52:41.500000
639181,2,2018-06-15 12:56:10,2018-06-16 12:01:42,3,0.75,1,N,161,170,1,...,0.5,1.00,0.00,0.3,7.30,Saturday,2018-06-15 12:56:10,2018-06-16 12:01:42,23:05:32,11:32:46

In [28]:
#exibindo tudo encontrado referente a sabado e domingo sobre o calculo executado
resultado

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,weekday,data_Ini,data_Fim,tempo_duracao_viagem,tempo_medio
111995,2,2019-01-12 00:32:19,2019-01-12 08:14:24,1,11.62,1,N,236,200,1,...,0.5,10.48,2.64,0.3,52.42,Saturday,2019-01-12 00:32:19,2019-01-12 08:14:24,07:42:05,03:51:02.500000
131060,2,2019-02-02 08:51:51,2019-02-02 08:58:07,1,1.62,1,N,246,143,1,...,0.5,1.00,0.00,0.3,9.80,Saturday,2019-02-02 08:51:51,2019-02-02 08:58:07,00:06:16,00:03:08
150579,2,2019-02-23 16:13:35,2019-02-23 16:19:34,1,0.86,1,N,48,246,1,...,0.5,0.00,0.00,0.3,7.80,Saturday,2019-02-23 16:13:35,2019-02-23 16:19:34,00:05:59,00:02:59.500000
150580,2,2019-02-23 16:27:08,2019-02-23 16:31:56,1,0.78,1,N,48,68,1,...,0.5,1.46,0.00,0.3,8.76,Saturday,2019-02-23 16:27:08,2019-02-23 16:31:56,00:04:48,00:02:24
150581,2,2019-02-23 16:38:23,2019-02-23 16:46:14,1,0.91,1,N,100,234,2,...,0.5,0.00,0.00,0.3,8.30,Saturday,2019-02-23 16:38:23,2019-02-23 16:46:14,00:07:51,00:03:55.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355163,2,2018-06-17 18:36:56,2018-06-17 18:38:20,6,0.39,1,N,230,161,2,...,0.5,0.00,0.00,0.3,4.80,Sunday,2018-06-17 18:36:56,2018-06-17 18:38:20,00:01:24,00:00:42
1355164,2,2018-06-17 18:41:40,2018-06-17 18:57:56,6,7.00,1,N,161,198,2,...,0.5,0.00,5.76,0.3,28.56,Sunday,2018-06-17 18:41:40,2018-06-17 18:57:56,00:16:16,00:08:08
1356718,2,2018-06-17 17:02:44,2018-06-17 17:07:47,1,1.37,1,N,264,264,1,...,0.5,2.19,0.00,0.3,9.49,Sunday,2018-06-17 17:02:44,2018-06-17 17:07:47,00:05:03,00:02:31.500000
1357610,2,2018-06-17 18:46:29,2018-06-17 18:50:13,6,0.59,1,N,148,4,2,...,0.5,0.00,0.00,0.3,5.80,Sunday,2018-06-17 18:46:29,2018-06-17 18:50:13,00:03:44,00:01:52
1359186,2,2018-06-17 18:44:45,2018-06-17 19:13:02,6,18.30,3,N,249,1,1,...,0.0,15.76,10.50,0.3,94.56,Sunday,2018-06-17 18:44:45,2018-06-17 19:13:02,00:28:17,00:14:08.500000