In [2]:
end = 'C:\Pyhton\Yellow_Taxi_Trip_Data.csv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(end,sep=',', encoding='latin-1')

In [5]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,06/13/2018 10:21:21 AM,06/13/2018 10:39:36 AM,1,2.20,1,N,237,230,1,13.0,0.0,0.5,1.50,0.0,0.3,15.30
1,2,06/13/2018 10:42:40 AM,06/13/2018 10:47:18 AM,1,0.49,1,N,100,230,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2,2,06/13/2018 10:54:04 AM,06/13/2018 11:04:37 AM,1,1.48,1,N,48,162,1,8.5,0.0,0.5,1.50,0.0,0.3,10.80
3,2,06/13/2018 10:02:47 AM,06/13/2018 10:27:58 AM,1,2.29,1,N,164,237,1,15.5,0.0,0.5,4.08,0.0,0.3,20.38
4,2,06/13/2018 10:29:11 AM,06/13/2018 10:45:29 AM,1,0.94,1,N,43,161,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80

In [6]:
#Exercicio 1-- distância média percorrida em viagens com um máximo de 2 passageiros;

distancia_Media = data[['passenger_count','trip_distance']].groupby(['passenger_count'],as_index= False).mean()
distancia_Media.head(2)

   passenger_count  trip_distance
0                0       2.948148
1                1       3.009682

In [8]:
#Exercicio 2-- Qual o tempo médio de viagem aos sábados e domingos lilian teste;
from datetime import datetime
from datetime import timedelta